<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie App</title>
  </head>
  <body>
   <section>
    <h1>Movie Database</h1>
  </section>
   <section>
    <li><a href="/users/new">Register</a></li>
  </body>
</html>
