<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <title>Movie App</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
 </head>
 <body>
  <div id="container">
   <header>
    <h1>Add a New Movie</h1>
     <ul>
      <li>
       <a href="/movies">Home Page</a>
      </li>
     </ul>
   </header>
    <form action="/movies" method="POST">
     <input type="text" name="title" placeholder="title"/>
     <input type="text" name="director" placeholder="director"/>
     <input type="text" name="description" placeholder="description"/>
     <input type="text" name="img" placeholder="img url"/>
     <input type="text" name="stars" placeholder="stars"/>
     <input type="submit" value="Submit"/>
   </form>
  </div>
 </body>
</html>
