<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie App</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="container">
    <header>
      <h1>User Login Page</h1>
    </header>
    <section>
      <h2>Create User Account</h2>
       <ul>
         <li>
           <form action="/users" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="text" name="password" placeholder="password"/>
            <input type="submit" value="Create"/>
           </form>
         </li>
       </ul>
     </section>
     <section>
      <h2>Log In User Account</h2>
       <ul>
        <li>
          <form action="/users/login" method="POST">
           <input type="text" name="username" placeholder="username"/>
           <input type="text" name="password" placeholder="password"/>
           <input type="submit" value="Log In"/>
          </form>
        </li>
       </ul>
     </section>
   </div>
  </body>
</html>
