<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie App</title>
  </head>
  <body>
    <header>
      User Show Page
    </header>
   <!-- <form action="/products" method="POST">
    <input type="text" name="name">
    <button>SUBMIT</button>
   </form> -->

  </body>
</html>
